# Created by .ignore support plugin (hsz.mobi)
.idea/*
target/
test-output/
src/main/main.iml
genotick-standalone.iml

# Ignore all files and folders starting with dot,
# Apart from this file
.*
!/.gitignore
